<h1> Welcome to join us!</h1>
<p>Your name is
	<%= @account.name  %>
</p>
	

<p>Your password is
	<%= @account.pass  %>
</p>

<p>Your email is
	<%= @account.email  %>
</p>

<p>Your gender is
	<%= if @account.gender == 0
				'male'
			else
				'female'
			end
	%>
</p>

<p>Your birth is
	<%= @account.birth  %>
</p>
