<%= render "suggestions/menu" %>

<div class = "container">
	<div class = "row">
		<div class = "margin_top_100px">
			<h1>Welcome to join us!</h1>
		</div>

			<div class = "margin_top_50px">
				<p class = "text-primary">Your name is
						<%= @account.name  %>
				</p>

				<p class = "text-primary">Your password is
					<%= @account.pass  %>
				</p>

				<p class = "text-primary">Your email is
					<%= @account.email  %>
				</p>

				<p class = "text-primary">Your gender is
					<%= if @account.gender == 0
								'male'
							else
								'female'
							end
					%>
				</p>

				<p class = "text-primary">Your birth is
					<%= @account.birth  %>
				</p>
		</div>
	</div>
</div>





